.main-container {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 80vw 1fr;
    grid-template-rows: 2rem auto;
    grid-template-areas:
        ".      .       ."
        "tools  canvas  .";
}

.tools-container {
    grid-area: tools;
    width: max-content;
}

.canvas-container {
    grid-area: canvas
}

.title {
    text-align: center;
}

.row-container {
    display: flex;
    justify-content: center;
}

.editables-container {
    display: flex;
    align-items: center;
}

video, img, audio {
    max-height: 80vh;
    max-width: 100%;
    object-fit: scale-down;
}