.canvas-main-container {
    display: grid;
    grid-template-columns: 1fr 80vw 1fr;
    grid-template-rows: 2rem auto;
    align-items: start;
    grid-template-areas:
        ".      .       ."
        "tools  canvas  .";
}

.tools-container {
    top: 0;
    position: sticky;
    grid-area: tools;
    width: max-content;
}

.canvas-container {
    grid-area: canvas
}

.editable-text-row-container {
    display: flex;
    justify-content: center;
}

.editable-text-gallery-container {
    display: flex;
    justify-content: center;
}

.editable-media-row-container {
    display: flex;
    justify-content: center;
}

.editable-media-gallery-container {
    display: flex;
    align-items: center;
}

.editable-media-gallery-container figure {
    margin: 0;
}

.editable-media-gallery-container video, img, audio {
    max-height: 80vh;
    max-width: 100%;
    object-fit: scale-down;
    text-align: center;
} 