.main-container {
    width: 100vw;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 4fr;
}

.nav-container {
    grid-column: 2 / 3;
}

.table-container {
    grid-column: 3 / 4;
}

.options-container {
    grid-column: 2 / 3;
}

/* table {
    grid-column: 3 / 4;
    margin-left: auto;
    margin-right: auto;
} */

button {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

table th {
    display: none;
}