.main-container {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 2rem auto auto;
    grid-template-areas: 
        "nav        .       ."
        ".          table   ."
        "options    .       .";
}

.nav-container {
    justify-self: end;
    align-self: end;
    grid-area: nav;
}

.table-container {
    grid-area: table;
}

.options-container {
    grid-area: options;
    justify-self: end;
    align-self: start;
}

.options-container > button {
    padding: 0;
}