button {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

p {
    white-space: pre-wrap;
    text-align: justify;
    text-justify: auto;
    line-height: 1.5;
}

table th {
    display: none;
}

menu, ul {
    padding-left: 1rem;
}

li {
    list-style-type: none;
}

.datalist-input {
    width: 10rem;
}

.title {
    text-align: center;
}