button {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

p {
    white-space: pre-wrap;
    text-align: justify;
    text-justify: auto;
    line-height: 1.5;
}

figure {
    margin: 0;
}

table th {
    display: none;
}

li {
    list-style-type: none;
}

.datalist-input {
    width: 10rem;
}

/* TODO: this conflicts with other rules? */
/* aside {
    position: fixed;
    top: -1;
    left: -1;
    z-index: 100;
    background: white;
} */

.aside-with-main-canvas {
    display: grid;
    grid-template-columns: max-content 7fr 1fr;
}

.aside-with-main-search {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 4fr;
}

.aside-with-main-search aside,
.aside-with-main-canvas aside {
    position: sticky;
    align-self: start;
    width: max-content;
    top: 0;
}

