<!-- TemplateMedia is passed in -->
{{ if not $.TemplateSources }}
<fieldset>
	<legend>	
		<input type="file" name="upload" />
	</legend>

	<menu>
		<li>
			<button type="submit" name="action" value="upload:{{ $.Media.Id }}">
				& upload
			</button>
		</li>
	</menu>
</fieldset>
{{ else }}
<figure>
  {{ if eq $.GetMediaKind "image" }}

  <picture>
		{{ range $.TemplateSources }}
		{{ .ToEditableHtml }}
		{{ end }}
		<img src="{{ $.GetFallbackLink }}" alt="Image">
	</picture>

  {{ else if eq $.GetMediaKind "video" }}

  <video controls loop>
		{{ range $.TemplateSources }}
		{{ .ToEditableHtml }}
		{{ end }}
		Your browser doesn't support this video.
	</video>

  {{ else if eq $.GetMediaKind "sound" }}

  <audio controls loop>
		{{ range $.TemplateSources }}
		{{ .ToEditableHtml }}
		{{ end }}
		Your browser doesn't support this audio.
	</audio>

  {{ end }}

  {{ if $.TemplateCaption }}
  {{ $.TemplateCaption.ToEditableHtml }}
  {{ else }}
  <menu>
    <li>
      <button type="submit" name="action" value="add-caption:{{ $.Media.Id }}">
        & new caption
      </button>
    </li>
  </menu>
  {{ end }}
</figure>
{{ end }}