<!-- TemplateMedia is passed in -->
{{ if eq $.Media.MediaType "empty" }}
<fieldset>
	<legend>	
		<input type="file" name="upload" />
	</legend>

	<menu>
		<li>
			<button type="submit" name="action" value="upload:{{ $.Media.Id }}">
				& upload
			</button>
		</li>
	</menu>
</fieldset>
{{ else }}
<figure>
  {{ if eq $.Media.MediaType "image" }}

  {{ if $.Sources }}
  <img src="{{ (index $.Sources 0).Link }}" alt="Image">
  {{ end }}

  {{ else if eq $.Media.MediaType "video" }}

  <video controls loop>
		{{ range $.Sources }}
		<source src="{{ .Link }}">
		{{ end }}
		Your browser doesn't support this video.
	</video>

  {{ else if eq $.Media.MediaType "sound" }}

  <audio controls loop>
		{{ range $.Sources }}
		<source src="{{ .Link }}">
		{{ end }}
		Your browser doesn't support this audio.
	</audio>

  {{ end }}

  {{ if $.TemplateCaption }}
  {{ $.TemplateCaption.ToEditableHtml }}
  {{ else }}
  <menu>
    <li>
      <button type="submit" name="action" value="add-caption:{{ $.Media.Id }}">
        & new caption
      </button>
    </li>
  </menu>
  {{ end }}
</figure>
{{ end }}