<!-- TemplateMedia is passed in -->
{{ if not $.Media.FileHash }}
<fieldset>
	<legend>	
		<input type="file" name="upload" />
	</legend>

	<menu>
		<li>
			<button type="submit" name="action" value="upload:{{ $.Media.Id }}">
				& upload
			</button>
		</li>
	</menu>
</fieldset>
{{ else }}
<figure>
  {{ if eq $.GetMediaKind "image" }}

  <img src="{{ $.GetLink }}" alt="Image">

  {{ else if eq $.GetMediaKind "video" }}

  <video controls loop>
		<source src="{{ $.GetLink }}" type="{{ $.GetMimeType }}">
		Your browser doesn't support this video.
	</video>

  {{ else if eq $.GetMediaKind "sound" }}

  <audio controls loop>
		<source src="{{ $.GetLink }}" type="{{ $.GetMimeType }}">
		Your browser doesn't support this audio.
	</audio>

  {{ end }}

  {{ if $.Media.Caption }}
  <fieldset>
	<legend>
		<button type="submit" name="action" value="clear-media-caption:{{ $.Media.Id }}">
			✕
		</button>
	</legend>

	<textarea name="caption[{{ $.Media.Id }}]">{{ $.Media.Caption }}</textarea>
  </fieldset>
  {{ else }}
  <menu>
    <li>
			<button type="submit" name="action" value="set-media-caption:{{ $.Media.Id }}">
        & new caption
      </button>
    </li>
  </menu>
  {{ end }}
</figure>
{{ end }}