<!-- TemplateMedia is passed in -->
<figure>
  {{ if eq $.GetMediaKind "image" }}

  <picture>
		{{ range $.TemplateSources }}
		{{ .ToHtml }}
		{{ end }}
		<img src="{{ $.GetFallbackLink }}" alt="Image">
	</picture>

  {{ else if eq $.GetMediaKind "video" }}

  <video controls loop>
		{{ range $.TemplateSources }}
		{{ .ToHtml }}
		{{ end }}
		Your browser doesn't support this video.
	</video>

  {{ else if eq $.GetMediaKind "sound" }}

  <audio controls loop>
		{{ range $.TemplateSources }}
		{{ .ToHtml }}
		{{ end }}
		Your browser doesn't support this audio.
	</audio>

  {{ end }}

  {{ if $.TemplateCaption }}
  {{ $.TemplateCaption.ToHtml }}
  {{ end }}
</figure>