<!-- TemplateMedia is passed in -->
<figure>
  {{ if eq $.GetMediaKind "image" }}

  <img src="{{ $.GetLink }}" alt="Image">

  {{ else if eq $.GetMediaKind "video" }}

  <video controls loop>
		<source src="{{ $.GetLink }}" type="{{ $.GetMimeType }}">
		Your browser doesn't support this video.
	</video>

  {{ else if eq $.GetMediaKind "sound" }}

  <audio controls loop>
		<source src="{{ $.GetLink }}" type="{{ $.GetMimeType }}">
		Your browser doesn't support this audio.
	</audio>

  {{ end }}

	{{ with $.Media.Caption }}
	<figcaption>{{ . }}</figcaption>
  {{ end }}
</figure>