<!-- TemplateMedia is passed in -->
<figure>
  {{ if eq $.Media.MediaType "image" }}

  {{ if $.Sources }}
  <img src="{{ (index $.Sources 0).Link }}" alt="Image">
  {{ end }}

  {{ else if eq $.Media.MediaType "video" }}

  <video controls loop>
		{{ range $.Sources }}
		<source src="{{ .Link }}">
		{{ end }}
		Your browser doesn't support this video.
	</video>

  {{ else if eq $.Media.MediaType "sound" }}

  <audio controls loop>
		{{ range $.Sources }}
		<source src="{{ .Link }}">
		{{ end }}
		Your browser doesn't support this audio.
	</audio>

  {{ end }}

  {{ if $.TemplateCaption }}
  {{ $.TemplateCaption.ToHtml }}
  {{ end }}
</figure>