<!-- In order to bind the max height of all media to the smallest media, fix the height of the gallery container to that height, and let media on the row fill the container --> 
<!-- TODO: improve logic for finding correct max height -->
<script>
  function initEditingGallery(index) {
    console.log("editing gallery script disabled");
    return;

    const row = document.getElementById(`row[${index}]`);
    const gallery = document.getElementById(`gallery[${index}]`);
    const media = gallery.querySelectorAll("img, video");

    let maxHeight = Infinity;

    function setMaxHeight() {
      media.forEach(el => {
        if (el.tagName === "IMG" && el.naturalHeight) {
          maxHeight = Math.min(maxHeight, el.naturalHeight);
        }
        if (el.tagName === "VIDEO" && el.videoHeight) {
          maxHeight = Math.min(maxHeight, el.videoHeight);
        }
      });

      maxHeight = Math.min(maxHeight, row.getBoundingClientRect().height);
      gallery.style.maxHeight = `${maxHeight}px`;
      row.style.maxHeight = `${maxHeight}px`;
    }
    
    if (media) {
      window.addEventListener("load", setMaxHeight);
    }
  }
</script>

<!-- TemplateWork is passed in -->
<h1 class="title">
  <textarea name="title-text">{{ $.Work.Title }}</textarea>
</h1>

{{ range $.TemplateCanvas.TemplateGroups }}
{{ .ToEditableHtml }}
{{ end }}

{{/* 
{{ $nbrRows := len .ContentRows }}
{{ with .ContentRows }}
{{ range . }}
<!-- . is ContentRow -->
{{ if ne 0 (len (.GetContentGroups)) }}
{{ $first := (index (.Members) 0).Content }}
<fieldset>
  
  <legend>
    <button type="submit" name="action" value="delete-row:{{ $first.GetVertical }}">
      ✕
    </button>

    {{ if ne $first.GetVertical 0 }}
    <button type="submit" name="action" value="move-up:{{ $first.GetId }}">
      ↑
    </button>
    {{ end }}

    {{ if ne (add $first.GetVertical 1) $nbrRows }}
    <button type="submit" name="action" value="move-down:{{ $first.GetId }}">
      ↓
    </button>
    {{ end }}
  </legend>

  {{ range .GetContentGroups }}
  {{ .ToEditableHtml }}
  {{ end }}

  <menu>
    <li>
      <button type="submit" name="action" value="add-horizontal:{{ $first.GetId }}">
        & new neighbor
      </button>
    </li>
  </menu>

</fieldset>
{{ end }}
{{ end }}
{{ end }}
*/}}
