<html>
  <body>

    <!-- *Work is passed in-->

    <form method="post" enctype="multipart/form-data">

      <h1>
        <textarea name="title-text">
          {{ .GetTitle }}
        </textarea>
      </h1>

      {{ $nbrRows := len .Contents }}
      {{ with .Contents }}
      <!-- List of rows -->
      <ol>
        {{ range . }}
          {{ if ne 0 (len .) }}
          {{ $first := index . 0 }}
          <li>
            <fieldset>
    
              <legend>
                <button type="submit" name="action" value="delete-content:{{ $first.GetId }}">
                  ✕
                </button>
    
                {{ if ne $first.GetVertical 0 }}
                <button type="submit" name="action" value="move-up:{{ $first.GetId }}">
                  ↑
                </button>
                {{ end }}
    
                {{ if ne (add $first.GetVertical 1) $nbrRows }}
                <button type="submit" name="action" value="move-down:{{ $first.GetId }}">
                  ↓
                </button>
                {{ end }}
              </legend>
  
              <!-- List of row items -->
              <ol>
                {{ $rowLen := len . }}
                {{ range . }}
                <li>
                  
                  <fieldset>
                    {{ if ne $rowLen 1 }}
                    <legend>
                      <button type="submit" name="action" value="delete-horizontal:{{ .GetId }}">
                        ✕
                      </button>
        
                      {{ if ne .GetHorizontal 0 }}
                      <button type="submit" name="action" value="horizontal-left:{{ .GetId }}">
                        ←
                      </button>
                      {{ end }}
        
                      {{ if ne (add .GetHorizontal 1) $rowLen }}
                      <button type="submit" name="action" value="horizontal-right:{{ .GetId }}">
                        →
                      </button>
                      {{ end }}
                    </legend>
                    {{ end }}
        
                    {{ .ToEditableHtml }}
                  </fieldset>
  
                </li>
                {{ end }}
              </ol>
    
              <menu>
                <li>
                  <button type="submit" name="action" value="add-horizontal:{{ $first.GetId }}">
                    & new neighbor
                  </button>
                </li>
              </menu>
            </fieldset>
            {{ end }}
          </li>
        {{ end }}
      </ol>
      {{ end }}
  
      <aside>
        <fieldset>
          
          <menu>
            <li>
              <button type="submit" name="action" value="add-text:{{ .GetId }}">
                & new text
              </button>
            </li>
            
            <li>
              <button type="submit" name="action" value="add-media:{{ .GetId }}">
                & new media
              </button>
            </li>
          </menu>

          <button type="submit" name="action" value="view:">
            View work
          </button>

        </fieldset>
      </aside>
    </form>
  </body>
</html>