<html>
  <body>

    <!-- ListablesFilter is passed in as Data -->
    
    <table>
      <tr style="text-align: left">
        <th>Time required</th>
        <th>Title</th>
      </tr>
      {{ range .Data.Listables }}
      <tr>
        <td>{{ formatTime .GetTimeRequiredMinutes }}</td>
        <td><a href="{{ .GetNumberingUrlString }}">{{ .GetTitle }}</a></td>
      </tr>
      {{ end }}
    </table>

    <aside>
      <form method="post">
        <fieldset>
          <legend>
            {{ if $.Data.Filter.FilterGroups }}
            <button type="submit" name="action" value="search:">
              Search
            </button>
            {{ else }}
            Search
            {{ end }}

            works

            <select name="filter-visibility">
              <option value="filter-private" 
                {{ if eq "filter-private" $.Data.Filter.FilterVisibility }}selected{{ end }}>
                privately
              </option>
              <option value="filter-public"
                {{ if eq "filter-public" $.Data.Filter.FilterVisibility }}selected{{ end }}>
                publicly
              </option>
            </select>
          </legend>

          <button type="submit" name="action" value="add-filter:">
            &
          </button>

          with

          <select name="filter-tag">
            {{ range .Environment.AllTags }}
            <option value="{{ .Name }}"
              {{ if eq .Name $.Data.Filter.PreviousTag }}selected{{ end }}>
              {{ .Name }}
            </option>
            {{ end }}
          </select>

          <ul>
            <!-- list already added filters -->
            {{ with .Data.Filter }}

              <!-- TODO: use Id for tags instead -->
              {{ $globalIdx := 0 }}

              {{ range .FilterGroups }}

              <fieldset>
                <legend>{{ .Name }}</legend>
                
                {{ range .Tags  }}
                <li>
                  <button type="submit" name="action" value="remove-filter:{{ $globalIdx }}">
                    ✕
                  </button>

                  {{ .ToHtml }}
                </li>

                {{ $globalIdx = add $globalIdx 1 }}
                {{ end }}
              </fieldset>

              {{ end }}
            {{ end }}
          </ul>
        </fieldset>
      </form>
    </aside>

  </body>
</html>