<html>
  <body>

    <!-- ListablesFilter is passed in as Data -->
    
    <table>
      <tr style="text-align: left">
        <th>Time required</th>
        <th>Title</th>
      </tr>
      {{ range .Data.Listables }}
      <tr>
        <td>{{ formatTime .GetTimeRequiredMinutes }}</td>
        <td><a href="{{ .GetNumberingUrlString }}">{{ .GetTitle }}</a></td>
      </tr>
      {{ end }}
    </table>

    <aside>
      <form method="post">
        <fieldset>
          <menu>
            <li>
              <select name="filter-tag">
                {{ range .Environment.AllTags }}
                <option value="{{ .Name }}"
                  {{ if eq .Name $.Data.Filter.PreviousTag }}selected{{ end }}>
                  {{ .Name }}
                </option>
                {{ end }}
              </select>
    
              <button type="submit" name="action" value="add-filter:">
                & new filter
              </button>
            </li>
          </menu>

          {{ with .Data.Filter.FilterGroups }}
          <ul>
          <!-- list already added filters -->
            <!-- TODO: use Id for tags instead -->
            {{ $globalIdx := 0 }}
            {{ range . }}
            <li>
              <fieldset>

                <legend>
                  {{ .Name }}
                </legend>
                
                {{ range .Tags  }}
                <li>
                  {{ .ToHtml }}
                  
                  <button type="submit" name="action" value="remove-filter:{{ $globalIdx }}">
                    ✕
                  </button>
  
                  {{ $globalIdx = add $globalIdx 1 }}
                </li>
                {{ end }}

              </fieldset>
            </li>
            {{ end }}

          </ul>
          {{ end }}

          <button type="submit" name="action" value="search:">
            Search works
          </button>

        </fieldset>
      </form>
    </aside>

  </body>
</html>