<!-- MembersLengthVertical is passed in -->
<div class="editable-media-row-container" id="row[{{ .Vertical }}]">
  <section class="editable-media-gallery-container" id="gallery[{{ .Vertical }}]">

    {{ $rowLen := .Length }}
    {{ range .Members }}
    <fieldset>
      {{ if ne 1 $rowLen }}
      <legend>
        <button type="submit" name="action" value="delete-horizontal:{{ .Content.GetId }}">
          ✕
        </button>

        {{ if ne .Content.GetHorizontal 0 }}
        <button type="submit" name="action" value="horizontal-left:{{ .Content.GetId }}">
          ←
        </button>
        {{ end }}

        {{ if ne (add .Content.GetHorizontal 1) $rowLen }}
        <button type="submit" name="action" value="horizontal-right:{{ .Content.GetId }}">
          →
        </button>
        {{ end }}
      </legend>
      {{ end }}

      {{ .Content.ToEditableHtml }}
    </fieldset>
    {{ end }}

  </section>
</div>