<!-- In order to bind the max height of all media to the smallest media, fix the height of the gallery container to that height, and let media on the row fill the container --> 
<script>
  function initGallery(index) {
    console.log("init gallery script disabled");
    return;

    const row = document.getElementById(`row[${index}]`);
    const gallery = document.getElementById(`gallery[${index}]`);
    const media = gallery.querySelectorAll("img, video");

    let maxHeight = Infinity;

    function setMaxHeight() {
      media.forEach(el => {
        if (el.tagName === "IMG" && el.naturalHeight) {
          maxHeight = Math.min(maxHeight, el.naturalHeight);
        }
        if (el.tagName === "VIDEO" && el.videoHeight) {
          maxHeight = Math.min(maxHeight, el.videoHeight);
        }
      });

      maxHeight = Math.min(maxHeight, row.getBoundingClientRect().height);
      gallery.style.maxHeight = `${maxHeight}px`;
      row.style.maxHeight = `${maxHeight}px`;
    }
    
    if (media) {
      window.addEventListener("load", setMaxHeight);
    }
  }
</script>

<h1 class="title">{{ .GetTitle }}</h1>

{{ range .Contents }}
{{ .ToHtml }}
{{ end }}